.DS_Store
.vscode/
*/**/.DS_Store

node_modules
.env
lcov.info

dist
out
cache
cache_forge
artifacts
typechain-types

contracts/hardhat-dependency-compiler

deployments/**/solcInputs/*
deployments/**/types/*
deployments/hardhat/*
deployments/tenderly/*
deployments/tenderly-testnet/*

fork-*.zip
testnet-*.zip
